*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
    background-color: indigo;
}

main{
    justify-content: center;
    max-width: 600px;
    background-color: gainsboro;
    margin: 2rem auto;
 
}

main ul{
    list-style: none;
}


main ul li{
    padding: 10px;
    background-color: #cdcdcd;
    margin: 1rem 0;
}
main a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

main a:hover{
    color: #fff;
}